#container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 960px;
    height: 960px;
    border: 2px solid black;
}

#container > div {
    width: auto;
    height: auto;
    border: 1px solid black;
}